1. Import the necessary libraries

In [1]:
import pandas as pd

In [10]:
import numpy as np

2. Import the dataset iris.data

3. Assign it to a variable called iris

In [2]:
iris = pd.read_csv("iris.data")

4. Create columns for the dataset

In [4]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

In [5]:
iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

5. Is there any missing value in the dataframe?

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

In [9]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

6. Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

    sepal_length  sepal_width  petal_length  petal_width        class
0            4.9          3.0           1.4          0.2  Iris-setosa
1            4.7          3.2           1.3          0.2  Iris-setosa
2            4.6          3.1           1.5          0.2  Iris-setosa
3            5.0          3.6           1.4          0.2  Iris-setosa
4            5.4          3.9           1.7          0.4  Iris-setosa
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           NaN          0.2  Iris-setosa
11           4.8          3.0           NaN          0.1  Iris-setosa
12           4.3          3.0           NaN          0.1  Iris-setosa
13           5.8          4.0           NaN          0.2  Iris-setosa
14           5.7          4.4           NaN          0.4  Iris-setosa
15           5.4          3.9           NaN          0.4  Iris-setosa
16           5.1          3.5           NaN          0.3  Iris-setosa
17           5.7          3.8           NaN          0.3  Iris-setosa
18           5.1          3.8           NaN          0.3  Iris-setosa
19           5.4          3.4           NaN          0.2  Iris-setosa

In [15]:
iris['petal_length'].iloc[10:30] = np.NaN

In [16]:
iris.head(30)

    sepal_length  sepal_width  petal_length  petal_width        class
0            4.9          3.0           1.4          0.2  Iris-setosa
1            4.7          3.2           1.3          0.2  Iris-setosa
2            4.6          3.1           1.5          0.2  Iris-setosa
3            5.0          3.6           1.4          0.2  Iris-setosa
4            5.4          3.9           1.7          0.4  Iris-setosa
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           NaN          0.2  Iris-setosa
11           4.8          3.0           NaN          0.1  Iris-setosa
12           4.3          3.0           NaN          0.1  Iris-setosa
13           5.8          4.0           NaN          0.2  Iris-setosa
14           5.7          4.4           NaN          0.4  Iris-setosa
15           5.4          3.9           NaN          0.4  Iris-setosa
16           5.1          3.5           NaN          0.3  Iris-setosa
17           5.7          3.8           NaN          0.3  Iris-setosa
18           5.1          3.8           NaN          0.3  Iris-setosa
19           5.4          3.4           NaN          0.2  Iris-setosa
20           5.1          3.7           NaN          0.4  Iris-setosa
21           4.6          3.6           NaN          0.2  Iris-setosa
22           5.1          3.3           NaN          0.5  Iris-setosa
23           4.8          3.4           NaN          0.2  Iris-setosa
24           5.0          3.0           NaN          0.2  Iris-setosa
25           5.0          3.4           NaN          0.4  Iris-setosa
26           5.2          3.5           NaN          0.2  Iris-setosa
27           5.2          3.4           NaN          0.2  Iris-setosa
28           4.7          3.2           NaN          0.2  Iris-setosa
29           4.8          3.1           1.6          0.2  Iris-setosa

7. Good, now lets substitute the NaN values to 1.0

    sepal_length  sepal_width  petal_length  petal_width        class
0            4.9          3.0           1.4          0.2  Iris-setosa
1            4.7          3.2           1.3          0.2  Iris-setosa
2            4.6          3.1           1.5          0.2  Iris-setosa
3            5.0          3.6           1.4          0.2  Iris-setosa
4            5.4          3.9           1.7          0.4  Iris-setosa
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           1.0          0.2  Iris-setosa
11           4.8          3.0           1.0          0.1  Iris-setosa
12           4.3          3.0           1.0          0.1  Iris-setosa
13           5.8          4.0           1.0          0.2  Iris-setosa
14           5.7          4.4           1.0          0.4  Iris-setosa
15           5.4          3.9           1.0          0.4  Iris-setosa
16           5.1          3.5           1.0          0.3  Iris-setosa
17           5.7          3.8           1.0          0.3  Iris-setosa
18           5.1          3.8           1.0          0.3  Iris-setosa
19           5.4          3.4           1.0          0.2  Iris-setosa

In [21]:
iris['petal_length'].fillna(1.0, inplace=True)

In [22]:
iris.head(30)

    sepal_length  sepal_width  petal_length  petal_width        class
0            4.9          3.0           1.4          0.2  Iris-setosa
1            4.7          3.2           1.3          0.2  Iris-setosa
2            4.6          3.1           1.5          0.2  Iris-setosa
3            5.0          3.6           1.4          0.2  Iris-setosa
4            5.4          3.9           1.7          0.4  Iris-setosa
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           1.0          0.2  Iris-setosa
11           4.8          3.0           1.0          0.1  Iris-setosa
12           4.3          3.0           1.0          0.1  Iris-setosa
13           5.8          4.0           1.0          0.2  Iris-setosa
14           5.7          4.4           1.0          0.4  Iris-setosa
15           5.4          3.9           1.0          0.4  Iris-setosa
16           5.1          3.5           1.0          0.3  Iris-setosa
17           5.7          3.8           1.0          0.3  Iris-setosa
18           5.1          3.8           1.0          0.3  Iris-setosa
19           5.4          3.4           1.0          0.2  Iris-setosa
20           5.1          3.7           1.0          0.4  Iris-setosa
21           4.6          3.6           1.0          0.2  Iris-setosa
22           5.1          3.3           1.0          0.5  Iris-setosa
23           4.8          3.4           1.0          0.2  Iris-setosa
24           5.0          3.0           1.0          0.2  Iris-setosa
25           5.0          3.4           1.0          0.4  Iris-setosa
26           5.2          3.5           1.0          0.2  Iris-setosa
27           5.2          3.4           1.0          0.2  Iris-setosa
28           4.7          3.2           1.0          0.2  Iris-setosa
29           4.8          3.1           1.6          0.2  Iris-setosa

8. Now let's delete the column class

   sepal_length  sepal_width  petal_length  petal_width
0           4.9          3.0           1.4          0.2
1           4.7          3.2           1.3          0.2
2           4.6          3.1           1.5          0.2
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4

In [24]:
iris.drop('class', axis = 1, inplace=True)

In [25]:
iris

     sepal_length  sepal_width  petal_length  petal_width
0             4.9          3.0           1.4          0.2
1             4.7          3.2           1.3          0.2
2             4.6          3.1           1.5          0.2
3             5.0          3.6           1.4          0.2
4             5.4          3.9           1.7          0.4
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[149 rows x 4 columns]

9. Set the first 3 rows as NaN

   sepal_length  sepal_width  petal_length  petal_width
0           NaN          NaN           NaN          NaN
1           NaN          NaN           NaN          NaN
2           NaN          NaN           NaN          NaN
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4

In [29]:
iris.iloc[0:3] = np.NaN

In [30]:
iris

     sepal_length  sepal_width  petal_length  petal_width
0             NaN          NaN           NaN          NaN
1             NaN          NaN           NaN          NaN
2             NaN          NaN           NaN          NaN
3             NaN          NaN           NaN          NaN
4             5.4          3.9           1.7          0.4
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[149 rows x 4 columns]

10. Delete the rows that have NaN

   sepal_length  sepal_width  petal_length  petal_width
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4
5           4.6          3.4           1.4          0.3
6           5.0          3.4           1.5          0.2
7           4.4          2.9           1.4          0.2

In [32]:
iris.dropna(inplace=True)

In [33]:
iris

     sepal_length  sepal_width  petal_length  petal_width
4             5.4          3.9           1.7          0.4
5             4.6          3.4           1.4          0.3
6             5.0          3.4           1.5          0.2
7             4.4          2.9           1.4          0.2
8             4.9          3.1           1.5          0.1
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[145 rows x 4 columns]

11. Reset the index so it begins with 0 again

In [36]:
iris.reset_index(drop=True, inplace=True)

In [37]:
iris

     sepal_length  sepal_width  petal_length  petal_width
0             5.4          3.9           1.7          0.4
1             4.6          3.4           1.4          0.3
2             5.0          3.4           1.5          0.2
3             4.4          2.9           1.4          0.2
4             4.9          3.1           1.5          0.1
..            ...          ...           ...          ...
140           6.7          3.0           5.2          2.3
141           6.3          2.5           5.0          1.9
142           6.5          3.0           5.2          2.0
143           6.2          3.4           5.4          2.3
144           5.9          3.0           5.1          1.8

[145 rows x 4 columns]